html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    font-size: 17px;
}
body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}

.filter-brand {
    background: linear-gradient(to bottom left, #F20C3A, #EE4B6A);
}

.filter-brand img,
.filter-brand picture {
    mix-blend-mode: darken;
}


.m-base {
    margin: var(--margin);
}

.mx-base {
    margin-left: var(--margin);
    margin-right: var(--margin);
}

.p-base {
    padding: var(--margin);
}

.px-base {
    padding-left: var(--margin);
    padding-right: var(--margin);
}

@tailwind screens;

:root {
    --margin: 2rem;
}

@screen sm {
    :root {
        --margin: 4rem;
    }
}

@screen md {
    :root {
        --margin: 2.5rem;
    }
}

@screen xl {
    :root {
        --margin: 8rem;
    }
}


@tailwind base;

@tailwind components;

@tailwind utilities;

p {
    max-width: 60ch;
}

.logo {
   @apply text-brand fill-current h-4;
}

.logo svg {
    @apply h-8;
}

.link {
    @apply cursor-pointer mr-4 py-1 text-sm relative flex items-center list-none text-brand;
}
 
.link svg {
    @apply mr-1;
}
.link::before {
    @apply h-full w-full bg-gray-200 absolute bottom-0 left-0 z-0;
    content: "";
    z-index: -1;
    transform: scaleY(0.1);
    transform-origin: bottom center;

    transition: 350ms transform cubic-bezier(0.32, 1.28, 0.18, 0.89);
}
.link:hover::before {
    transform: scaleY(.8);
}
